name: RPM Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: build RPM package
      run: docker run --rm -v "$PWD:/pkg" -w /pkg docker.io/rockylinux:9 bash ./package.sh

    - name: list packages
      run: ls ./*rpm
